.drawer {
  font-size: 14px;
}
.article {
  font-size: 16px;
}

.article h1 {
  font-size: 26px;
}

.article h2 {
  font-size: 22px;
}

ul {
  list-style-type: disc;
}

ul#scrollspy {
  list-style-type: none;
}

.article ul > li:before {
  content: none;
}

.article .wrapper {
  padding-top: 80px;
}

.article h1 {
  padding-bottom: 32px;
}

pre code.hljs {
  background: rgba(0, 0, 0, 0.0);
}

.article table th,
.article table td {
  font-size: 14px;
}

.article h3 {
  font-size: 16px;
}

.palette-primary-red .footer,
.palette-primary-red .header {
  background: #d1464c;
}

.palette-primary-red .article h2,
.palette-primary-red .article a,
.palette-primary-red .article code,
.palette-primary-red .article h1,
.palette-primary-red .article h2 {
  color: #d1464c;
}

.palette-primary-red .drawer .toc a.current,
.palette-primary-red .drawer .toc a:focus,
.palette-primary-red .drawer .toc a:hover {
  color: #d1464c;
}

.palette-primary-red .article table th {
  background: rgba(209, 70, 76, 0.85);
}

body,
input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
